
<h1 class="text-center">Añadir médico</h1>
<form>
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="especialidad" class="form-label">Especialidad</label>
      <input type="text" class="form-control" id="especialidad">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefono">
      </div>

      <div class="mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="aceptoNuevos">
            <label class="form-check-label" for="aceptoNuevos">Acepta pacientes nuevos</label>
          </div>
      </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>