   
  <div class="card" style="width: 18rem;">
    <img src="assets/img/doctors/default.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="card-title">Whalter White</h4> <!-- Nombre del médico-->
      <h5>Chief Medical Officer</h5> <!-- Aquí pondremos la especialidad-->
        <h5> <i class="bi bi-phone"></i>666090909</h5>
        <h5>Acepta pacientes nuevos</h5> <!-- Mostrar Acepta pacientes nuevos o no acepta pacientes nuevos según el caso-->
      <a href="#" class="btn btn-primary">Volver</a>
    </div>
  </div>